<form [formGroup]="formulario" class="{{classForm}}">
    <div *ngFor='let item of inputs'>
        <input formControlName='{{item?.formControlName}}' 
        placeholder={{item?.placeHolder}}
        autocomplete="off"
        type={{item?.type}}
        [class.bordererror]="ValidandoVisual(item?.formControlName)" 
        mask="{{ValidandoMascaras(item.formControlName)}}" >
        
        <div *ngIf="ValidandoVisual(item.formControlName)">
            <p>{{ValidandoMensagemDeErro(item.formControlName)}}</p>
        </div>
    </div>

    <div *ngFor='let botao of listaDeBotoes'>
        <button class="{{botao.classStyle}}" (click)="emiter(botao.nome)">{{botao.nome}}</button>
    </div>
</form>
